:root {
  --c: 12;
  --d: block;
  --g: 0;

  --content-width: 1280px;
  --perspective: 1000px;
  --primary: #333c42;
  --menu-width: 100%;
  --secondary: #dbe19a;
  --font-family: "Montserrat", sans-serf;
  --font-size: 20px;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.facade,
.page,
.section {
  left: 0;
  top: 0;
  width: 100%;
}

.facade,
.page {
  height: 100%;
}

.section {
  --h: 100%;
  min-height: var(--h);
}

.facade {
  overflow: hidden;
  perspective: var(--perspective);
  position: fixed;
}

.page {
  overflow-y: auto;
  position: absolute;
}

.section {
  align-items: center;
  display: var(--d);
  background: center / cover no-repeat;
  justify-content: center;
  position: relative;
  text-align: center;

  &.skew {
    margin: 3% 0;
    padding: 3% 0;

    &::before {
      content: "";
      display: block;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      transform: skewY(3deg);
      width: 100%;
      z-index: -1;
    }
  }

  &.dark {
    color: white;
    &::before {
      background: black;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: var(--content-width);
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: var(--g);
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc((var(--content-width) / var(--c) - var(--g))), 1fr)
  );
}

.page,
.menu {
  transition: transform 200ms;
}

.menu-btn {
  cursor: pointer;
  display: block;
  height: 48px;
  left: 40px;
  position: fixed;
  mix-blend-mode: difference;
  top: 40px;
  width: 48px;
  z-index: 10;

  & > * {
    top: 50%;
  }
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  right: 100%;
  transition: transform 400ms;
  width: var(--menu-width);

  ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: center;
  }

  a {
    color: inherit;
    display: block;
    padding: 2rem;
    text-decoration: none;
  }
}

.hamburger {
  position: relative;
  height: 2px;

  &,
  &::after,
  &::before {
    background: var(--primary);
    display: block;
    transform-origin: 50%;
    transition: transform 300ms ease-in-out;
    transition-property: opacity, transform;
    width: 100%;
  }

  &::after,
  &::before {
    content: "";
    height: 100%;
    position: absolute;
  }

  &::after {
    transform: translateY(-8px);
  }
  &::before {
    transform: translateY(8px);
  }
}

#menu-open {
  position: fixed;
  right: 200%;

  &:checked {
    & ~ .menu {
      transform: translateX(100%);
    }

    & ~ .menu-btn .hamburger {
      transform: rotate(45deg);

      &::after {
        opacity: 0;
        transform: translateY(0px);
      }

      &::before {
        transform: rotate(-90deg) translateY(0px);
      }
    }

    & ~ .page {
      overflow: hidden;
      transform: translateX(var(--menu-width));
    }
  }
}
